<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Set title and image from page or by default as needed -->
  <% if @title
        @page_title = @title + ' | Academy of Scholars and Fools'
      else
        @title = 'Academy of Scholars and Fools'
      end

      # handle cases where the image isn't specified or isn't in the DB
      @display_image = Image.find_by_file_name(@image)
      @display_image ||= Image.find_by_file_name('cliffside_castle.jpg')
      
    %>

    <!-- Title -->
    <title>
      <%= @page_title || @title %>
    </title>

    <!-- Metadata -->
    <meta lang="en">
    <meta charset="utf-8">
    <meta name="description" content="<%= @description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css -->
    <%= stylesheet_link_tag "/stylesheets/style.css" %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Cutive+Mono|Ek+Mukta:300|IM+Fell+English:400,400i" rel="stylesheet">

</head>

<body class="typography">
  <!-- Big header and navbar and everything  -->
  <header class="banner" style='background-image: url(<%="../images/banners/#{@display_image.file_name}" %>);'>
      
      
      <!-- Secondary Navbar (big)-->
      <ul class="plain-list banner__secondary" role="navigation" aria-label="Secondary">
        <li><a href="<%= url('/students') %>">Students</a></li>
        <li><a href="<%= url('/faculty-and-staff') %>">Faculty &amp; Staff</a></li>
        <li><a href="<%= url('/guild') %>">Guild</a></li>
        <li><a href="<%= url('/visitors') %>">Visitors</a></li>
      </ul>
        
      <!-- Title -->
      <a href="<%= url('/') %>" class="banner__masthead">
        <div class="banner__title">
          <div class="banner__title__academy">ACADEMY</div> <div class="banner__title__subtitle">
          <span class="banner__title__subtitle--small">of</span>
          <span>SCHOLA<i>RS</i></span>
          <span class="banner__title__subtitle--small">and</span>
          <span>FOOLS</span>
          </div>
        </div>
      </a>

      <!-- Primary Navbar (big) -->
      <ul class="plain-list banner__primary" role="navigation" aria-label="Primary">
        <li><a href="<%= url('/academics') %>">Academics</a></li>
        <div class="delimiter" aria-hiddin="true">&#10070;</div>
        <li><a href="<%= url('/admissions') %>">Admissions <span class="banner__ampersand">&amp;</span> Aid</a></li>
        <div class="delimiter" aria-hiddin="true">&#10070;</div>
        <li><a href="<%= url('/student-life') %>"> Student Life</a></li>
        <div class="delimiter" aria-hidden="true">&#10070;</div>
        <li><a href="<%= url('/about') %>">About</a></li>
      </ul>
      <div class="banner__border"></div>
      <div class="banner__filler--white"></div>
      <div class="banner__border"></div>
      <h1  class="banner__h1"><%= @title %></h1>
      <div class="banner__border"></div>
    </header>

  <!-- Small Header and Navbar (Primary & Secondary) -->
  <header class="mobile-menu__wrapper" style='background-image: url(<%="../images/banners_portrait/#{@display_image.file_name}" %>);'>
   
    <div class="menu__masthead__wrapper">
      <!-- Small Masthead -->
      <a href="<%= url('/') %>" class="menu__masthead">
        <div class="menu__masthead__academy" >ACADEMY</div>
        <div class="menu__masthead__subtitle">
          <span class="menu__masthead__subtitle--small">of</span>
          <span>SCHOLA<i>RS</i></span>
          <span class="menu__masthead__subtitle--small">and</span>
          <span>FOOLS</span>
        </div>
      </a>
      
      <!-- Navicon -->
      <button onclick="toggleMenu()" class="mobile-menu__navicon__wrapper">
        <div class="mobile-menu__navicon"></div>
        <span class="mobile-menu__label">MENU</span>
      </button>
    </div>

    <!--Small Navigation-->
    <ul id="mobile-menu__target" class="plain-list mobile-menu" role="navigation">
      <!--Small primary navigation-->
      <a href="<%= url('/academics') %>" class="mobile-menu__primary">
        <li>Academics</li></a>
      <a href="<%= url('/admissions') %>" class="mobile-menu__primary">
        <li>Admissions <span class="banner__ampersand">&amp;</span> Aid</li></a>
      <a href="<%= url('/student-life') %>" class="mobile-menu__primary">
        <li>Student Life</li></a>
      <a href="<%= url('/about') %>" class="mobile-menu__primary">
        <li>About</li></a>

      <!-- Small secondary navigation -->
      <a href="<%= url('/students') %>" class="mobile-menu__secondary">
        <li>Students</li></a>
      <a href="<%= url('/faculty-and-staff') %>"  class="mobile-menu__secondary">
        <li>Faculty <span class="banner__ampersand">&amp;</span> Staff</li></a>
      <a href="<%= url('/guild') %>" class="mobile-menu__secondary">
        <li>Guild</li></a>
      <a href="<%= url('/visitors') %>" class="mobile-menu__secondary">
        <li>Visitors</li></a>
    </ul>
     
<!-- Title and fancy stuff -->
      <div class="menu__filler--white"></div>
      <div class="menu__border"></div>
      <h1  class="menu__h1"><%= @title %></h1>
      <div class="menu__border"></div>
  </header>

<!-- Main content -->
  <main>
    <%= yield %>
  </main>

<!-- Footer -->
  <footer class="footer__wrapper">
    <div class="footer__item">
      <%= @display_image.attribution %>
    </div>
    
    <div class="footer__item">
      <% date = 1257 + (Date.today.year - 2017) %>
      <%= "©Copyright #{date} by the President and Daughter-in-Law Elect of the Academy of Scholars and Fools." %>
    </div>
    <div class="footer__item">
      More links will go here when I get my shit together.
    </div>
  </footer>

<!-- Scripts -->
  <%= javascript_script_tag("/scripts/main.js", "/scripts/van11y-accessible-hide-show-aria.es6.js") %>

</body>

</html>
